
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

li {
  list-style-type: none;
}

.goalNumberWidth {
  max-width: 200px;
}

.container {
  min-width: 50%;
  margin-left: auto;
}

.centeringAgent {
  margin-left: auto;
}

.goalText {
  margin: auto;
  margin-right: 10px;
  margin-left: 0px;
  font-size: 35px;
}

.marginSmall {
  margin: 5px;
}

.marginTop {
  margin-top: 10px;
}

.flexBox
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 50%;
}

.item 
{
  background-color: white;
  color: #282c34;
}

@media only screen and (max-width: 600px) {
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .container {
    min-width: 50%;
    margin-left: 0px;
  }
  
  li {
    list-style-type: none;
  }
  
  .goalNumberWidth {
    max-width: 100px;
  }
  
  .goalText {
    margin: auto;
    margin-right: 10px;
    margin-left: 0px;
    font-size: 35px;
  }
  
  .marginSmall {
    margin: 5px;
  }
  
  .marginTop {
    margin-top: 5px;
  }
  
  .flexBox
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 10%;
  }
  
  .item 
  {
    background-color: white;
    color: #282c34;
  }
  
}
